h1 {
    font-size: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: gold;
    color: blue;
    text-align: center;
}
.listy {
    font-size: 24px;
    text-align: center;
}
img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%
}
img:hover {
    transform: scaleX(-1);
  }