h1 {
    font-size: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: gold;
    color: blue;
    text-align: center;
}
h3, h4 {
  text-align: center;
}
.listy {
    font-size: 24px;
    text-align: center;
}
.ingredients {
  text-align: center;
  color: red;
}
.ingredients.header {
  background-color: yellow;
}
.steps {
  color: darkgreen;
}
.steps.header {
  background-color: cyan;
}
img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%
}
img:hover {
    transform: scaleX(-1);
  }